In [1]:
#Install tabula python wrapper
!pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.6/dist-packages (2.1.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.18.2)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from tabula-py) (0.25.3)
Requirement already satisfied: distro in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.4.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.25.3->tabula-py) (1.12.0)

In [0]:
from tabula import read_pdf
import pandas as pd
from datetime import date

In [0]:
# Use the url from www.gob.mx
# TODO: check how their cms works, seems like every day they upload 4 pdfs... 
# check file/<number>/ and date at the end

positivos ="https://www.gob.mx/cms/uploads/attachment/file/542592/Tabla_casos_positivos_COVID-19_resultado_InDRE_2020.03.20.pdf"

In [0]:
# specify the area for page 1 since the column names are not being picked up by tabula
# A primer on PDF coordinate system to pass values to area param
# https://www.leadtools.com/help/leadtools/v19/dh/to/pdf-topics-pdfcoordinatesystem.html
df = read_pdf(positivos, area=[123, 0, 792, 792], pages="1")

In [0]:
# Get the rest of the pages in a second data frame 
# TODO: seems like is not reading the first row, maybe because it doesnt have the upper border
df2 = read_pdf(positivos, pages="all")

# Cleaning the first data frame

In [6]:
# Tabula outputs unformatted headers...
df[0].head()

   Unnamed: 0        Unnamed: 1  ... Unnamed: 12  Unnamed: 13
0           1  CIUDAD DE MÉXICO  ...         NaN          NaN
1           2           SINALOA  ...         NaN          NaN
2           3  CIUDAD DE MÉXICO  ...         NaN          NaN
3           4          COAHUILA  ...         NaN          NaN
4           5           CHIAPAS  ...         NaN          NaN

[5 rows x 14 columns]

In [0]:
# drop the first row with non usable data
df0 = df[0]

# Rename the columns
newcols = {
    'Unnamed: 0': 'No de caso', 
    'Unnamed: 1': 'Estado', 
    'Unnamed: 2': 'Sexo',
    'Unnamed: 3': 'Edad',
    'Unnamed: 4': 'Fecha de Inicio de síntomas',
    'Unnamed: 5': 'Identificación de COVID-19 por RTPCR en tiempo real',
    'Unnamed: 6': 'Procedencia',
    'Unnamed: 7': 'Fecha de llegada a México'
}

# Throws a warning in colab, unfortunatly I'm still not proficient with python...
df0.rename(columns=newcols, inplace=True)

In [8]:
df0.head()

   No de caso            Estado Sexo  ...  Unnamed: 11 Unnamed: 12 Unnamed: 13
0           1  CIUDAD DE MÉXICO    M  ...          NaN         NaN         NaN
1           2           SINALOA    M  ...          NaN         NaN         NaN
2           3  CIUDAD DE MÉXICO    M  ...          NaN         NaN         NaN
3           4          COAHUILA    F  ...          NaN         NaN         NaN
4           5           CHIAPAS    F  ...          NaN         NaN         NaN

[5 rows x 14 columns]

In [0]:
# Remove the extra columns:
columns = ['Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13']
df0 = df0.drop(labels=columns, axis=1)

In [10]:
df0.head()

   No de caso            Estado  ... Procedencia  Fecha de llegada a México
0           1  CIUDAD DE MÉXICO  ...      Italia                 22/02/2020
1           2           SINALOA  ...      Italia                 21/02/2020
2           3  CIUDAD DE MÉXICO  ...      Italia                 22/02/2020
3           4          COAHUILA  ...      Italia                 25/02/2020
4           5           CHIAPAS  ...      Italia                 25/02/2020

[5 rows x 8 columns]

## Concatenate with the other data frames

In [11]:
# Data frame 2 should have all pages...
len(df2)

4

In [12]:
## Remove page 1 since we already have it
df2 = df2[1:]
df2[0].head()

   49          GUERRERO  M  ...  confirmado        Contacto          NA
0  50           DURANGO  M  ...  confirmado        Alemania  11/03/2020
1  51          GUERRERO  F  ...  confirmado          España  12/03/2020
2  52            PUEBLA  F  ...  confirmado          España  09/03/2020
3  53  CIUDAD DE MÉXICO  F  ...  confirmado  Estados Unidos  08/03/2020
4  54  CIUDAD DE MÉXICO  M  ...  confirmado        Contacto          NA

[5 rows x 8 columns]

In [0]:
# Add column headers to data frames
cols = ['No de caso', 
    'Estado', 
    'Sexo',
    'Edad',
    'Fecha de Inicio de síntomas',
    'Identificación de COVID-19 por RTPCR en tiempo real',
    'Procedencia',
    'Fecha de llegada a México'
]

# Initialize list with the cleaned df 0 
dataFrames = [df0]

# Iterate through the dataframes in df2 and add the column headers
for dfx in df2:
    # Add header value as data
    first = dfx.columns
    first_row = dict( zip(cols, first))
    data = pd.DataFrame([first_row])
    dataframe = pd.concat([data, pd.DataFrame(dfx.values, columns=cols)])
    # append the dataframes
    dataFrames.append(dataframe)

In [14]:
# Concatenate the cleaned data frames
data = pd.concat(dataFrames,ignore_index=True)
data

    No de caso            Estado  ...     Procedencia Fecha de llegada a México
0            1  CIUDAD DE MÉXICO  ...          Italia                22/02/2020
1            2           SINALOA  ...          Italia                21/02/2020
2            3  CIUDAD DE MÉXICO  ...          Italia                22/02/2020
3            4          COAHUILA  ...          Italia                25/02/2020
4            5           CHIAPAS  ...          Italia                25/02/2020
..         ...               ...  ...             ...                       ...
197        199            PUEBLA  ...          España                15/03/2020
198        200            PUEBLA  ...  Estados Unidos                07/03/2020
199        201         CHIHUAHUA  ...  Estados Unidos                14/03/2020
200        202           JALISCO  ...        Contacto                        NA
201        203           JALISCO  ...        Contacto                        NA

[202 rows x 8 columns]

## Export the data set:

In [0]:
today = date.today()
d1 = today.strftime("%Y-%m-%d")
filename = "confirmados-"+ d1+".csv"
data.to_csv(filename)